# Prerequisites
*.d
/.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ipch

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs
visualstudio15/.vs
visualstudio15/VS2015/Debug
visualstudio15/VS2015/Release
visualstudio15/VS2015/Final
*.iobj
*.pdb
*.ipdb
*.log
*.pdb
*.tlog
